
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/

.vscode/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store

.expo/
.expo-shared/

Thumbs.db

*.log

.idea/
*.iml

coverage/

*.sql
*.dump

.expo-router/

*.tsbuildinfo
